{
  "extends": "airbnb",
  "rules": {
    "keyword-spacing": [2, {
      "overrides": {
        "throw": { "after": false, "before": true }
      }
    }],
    "spaced-comment": 0,
    "padded-blocks": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 1,
    "no-unused-vars": 1,
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "new-cap": [2, { "capIsNew": false }],
    "import/no-extraneous-dependencies": [2, {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}]
  }
}
